.editable__cont {
  margin: 1em 0;
}

.select__cont,
.editable__form {
  @include code;
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
}

.select__label,
.editable__label {
  @include small-text;
  font-weight: bold;
  line-height: 2;
  width: 100%;
}

.select__input,
.select__trigger,
.editable__input,
.editable__submit {
  padding: 0.5em;
  border: $light-border;
}

.select__input,
.editable__input {
  background-color: $white;
  flex-grow: 2;
}

.select__trigger,
.editable__submit {
  @include button;
  padding: 0.5em 2em;
}

// Since the entire container is clickable,
// make it appear so.
.select__cont:hover {
  .select__input {
    cursor: pointer;
  }
  .select__trigger {
    color: $blue;
  }
}

.section__editor {
  .select__input,
  .editable__input {
    @include inset-shadow;
  }
}

.error__label {
  color: $red;
  font-weight: bold;
}
