.notebook {
  @include code;
}


.nb-notebook {
  font-family: $code-font-family;
  font-size: $code-font-size;
  color: #000000;

  code {
    @include code-element;
  }
}

.nb-cell {
  position: relative;
}

.nb-heading-cell,
.nb-markdown-cell {
  font-family: $base-font-family;
}

.nb-heading-cell {
  @include medium-heading;
  margin-top: 1.4em;
  margin-bottom: 1em;
  &:first-child {
    margin-top: 0;
  }
}

.nb-markdown-cell {
  font-size: $base-font-size;
  line-height: 1.6;
  img {
    @include code;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
    margin-bottom: 1em;
    @include medium-heading;
  }

  code {
    @include code-element;
    background-color: $lightgray;
    font-family: $code-font-family;
    font-size: $code-font-size;
  }
}

.nb-input, .nb-output {
  margin-top: 1.5em;
}

.nb-output {
  min-height: 1em;
  width: 100%;
  border-right: 1px dotted #CCC;
}

@include large-up {
  .nb-output:before, .nb-input:before {
    position: absolute;
    font-family: $code-font-family;
    color: $darkgray;
    left: -7.5em;
    width: 7em;
    text-align: right;
  }

  .nb-input:before {
    content: "In [" attr(data-prompt-number) "]:";
  }

  .nb-output:before {
    content: "Out [" attr(data-prompt-number) "]:";
  }
}

.nb-input pre {
  background-color: $lightgray;
  padding: 1em;
  overflow: auto;
}

.nb-output pre {
  padding: 0.1em;
}
