.inner {
  @include row;
  padding: 0 1em;
}

.inner--full {
  margin: 0 1em;
  @include medium-up {
    margin: 0 2em;
  }
}

.page__header {
  background: $lightgray;
  padding: 2em 0 1.75em;
}

.page__title {
  @include large-heading;
  line-height: 1.4;
}

.section {
  margin-top: 2em;
}

.page__loading,
.page__login {
  margin-top: 20%;
  text-align: center;
}

.login__prompt {
  font-weight: bold;
}

.section__title {
  @include medium-heading;
}
