.inner {
  @include row;
  padding: 0 1em;
}

.inner--full {
  margin: 0 1em;
  @include medium-up {
    margin: 0 2em;
  }
}

.page__header {
  background: $lightgray;
  padding: 2em 0 1.75em;
}

.page__title {
  @include large-heading;
  line-height: 1.4;
}

.section {
  display: block;
  margin-top: 2em;
  width: 100%;
}

.page__loading,
.page__login {
  margin-top: 20%;
  text-align: center;
}

.login__prompt {
  font-weight: bold;
}

.section__title {
  @include medium-heading;
  .clear__filter {
    background-color: $red;
    color: $white;
    display: inline-boock;
    padding: 2px 6px;
    border-radius: 3px;
    .collecticons {
      font-size: 0.7em;
    }
  }
}
