.reports__cont {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.report {
  margin-bottom: 2em;
  width: 48%;
  @include medium-up {
    width: 32%;
  }
}

.report__inner {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  border-bottom: $light-border;
  background-color: $white;
  display: block;
  padding: 1em;
}

/* This long selector is to overrule a:hover */
a.report__inner:hover {
  border-bottom: 1px solid $blue;
  color: $black;
  text-decoration: none;
}

.report__image {
  width: 100%;
  height: 160px;
  margin: 0.5em 0;
  overflow: hidden;
  > img {
    box-sizing: content-box;
    width: 100%;
  }
}

.report__ctrls {
  display: inline-block;
  margin: 1em 0;
  position: relative;
  .modal__cont {
    position: absolute;
    right: 0;
    margin-top: .5em;
    min-width: 240px;
    text-align: right;
  }
}

.report__ctrl {
  @include button;
  @include small-text;
  font-weight: bold;
  padding: 1em;
  @include medium-up {
    padding: 2em;
  }
  .collecticons {
    margin-right: 0.5em;
  }
}

.report__ctrl__confirm {
  @include button-confirm;
  font-size: 1em;
}

.report__ctrl--small {
  padding: 1em;
}

.report__versions {
  margin-bottom: 1em;
}

.report__next,
.report__meta {
  margin-top: 3em;
}

.report__upload {
  margin-top: 1em;
}
