/* Report card styles */

.reports__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include medium-up {
    @include code;
  }
}

.reportcard {
  @include small-text;
  line-height: 1.4;

  background-color: $white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  margin: 1em 0;
  width: 99%;
  @include medium-up {
    margin: 2em 0;
  }
}

@mixin reportcard-hover {
  color: $black;
  border-bottom: 1px solid $blue;
  text-decoration: none;
}

.reportcard__primary {
  border-bottom: $light-border;
  cursor: pointer;
  display: block;
  padding: 1em;
  &:hover {
    @include reportcard-hover;
  }
}

.reportcard__image {
  height: auto;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  width: 100%;
  > img {
    width: 100%;
  }
}

.reportcard__details {
  color: $darkgray;
  background-color: $lightgray;
  padding: 0.5em 1em;
}

.reportcard__author {
  font-weight: bold;
}

.reportcard__select {
  cursor: pointer;
  &:hover {
    .reportcard__primary {
      @include reportcard-hover;
    }
  }
}

.reportcard__selected {
  background-color: $red;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: 0.9em;
  margin-right: 5px;
  padding: 3px 1px 1px 1px;
}

.dl {
  dt {
    font-weight: bold;
    float: left;
    margin-right: 0.25em;
  }
  dd {
    display: block;
  }
}

.dd__source {
  font-style: italic;
  color: $medgray;
}

/* Individual (detail) report styles */

.report__section__title {
  @include large-heading;
  color: $darkgray;
  font-weight: bold;
  border-bottom: 1px solid $medgray;
}

.report__ctrls {
  display: inline-block;
  margin: 1em 0;
  position: relative;
  .modal__cont {
    position: absolute;
    right: 0;
    margin-top: .5em;
    min-width: 240px;
    text-align: right;
  }

  a {
    color: $black;
    &:hover {
      color: $blue;
    }
  }
}

.report__ctrl {
  @include button;
  @include small-text;
  font-weight: bold;
  padding: 1em;
  @include medium-up {
    padding: 2em;
  }
  .collecticons {
    margin-right: 0.5em;
  }
}

.report__ctrl__save,
.report__ctrl__confirm {
  @include button-confirm;
  font-size: 1em;
}

.report__ctrl--small {
  padding: 1em;
}

.report__versions {
  margin-bottom: 1em;
}

.versions {
  margin-left: 1.5em;
}

.report__next,
.report__meta {
  margin-top: 3em;
}

.report__info,
.report__tags,
.report__upload {
  margin-top: 1em;
}

.report__info {
  color: $darkgray;
  font-style: italic;
}

.report__cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.report__refs__cont {
  @include prose;
}
