.table {
  @include small-text;
  margin: 1em 0;
  table-layout: auto;
  width: 100%;

  th, td {
    padding: 1em 1em;
  }

  th {
    text-align: left;
  }

  td:last-child,
  th:last-child {
    text-align: right;
  }
}

.table__head {
  th {
    border-bottom: 1px solid $darkgray;
    vertical-align: bottom;
  }
}

.table__body {
  tr:nth-of-type(even) {
    background-color: $lightgray;
  }
  td {
    vertical-align: middle;
  }

}

.table__extlink {
  color: $darkgray;
  transition: color .2s linear;
  &:hover {
    color: $blue;
  }
}

.table__body--select {
  tr {
    cursor: pointer;
    &:hover {
      background-color: darken($lightgray, 4%);
    }
  }
}
